@model Inventario.ViewModels.ItemViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("New Item", "New", "Items", null, new { @class = "btn btn-primary" })
<table id="item" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Item Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.items)
        {
            <tr>
                <td>@Html.ActionLink(item.Name, "Detail", new { id = item.Id })</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</td>
            </tr>
        }
    </tbody>
</table>
