@model Inventario.ViewModels.ItemViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2 {
        color: #3123AD;
    }

    #items {
        border: 1px solid #63607D;
    }

        #items thead {
            background-color: #3123AD;
            color: white;
        }

        #items tbody tr {
            background-color: #E4B57E;
            color: #63607D;
        }

            #items tbody tr:nth-child(even) {
                background-color: #AD5923;
                color: white;
            }

            #items tbody tr:hover {
                background-color: #3123AD;
                color: white;
            }

        #items a {
            color: #3123AD;
        }

    .btn-primary {
        background-color: #4387E0;
        border-color: #4387E0;
    }

        .btn-primary:hover {
            background-color: #3123AD;
            border-color: #3123AD;
        }
</style>


<h2>Index</h2>

<table id="items" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Item Name</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        var table = $("#items").DataTable({
            ajax: {
                url: "/api/items",
                dataType: "json",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataSrc: ""
            },
            columns: [
                {
                    data: "Name",
                    render: function (data, type, item) {
                        return "<a href='/Items/Detail/" + item.Id + "'>" + item.Name + "</a>";
                    }
                }
            ]
        });

    </script>
}
